<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>소통방</title>
    
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="../public/css/mdb.min.css" />

    <link rel="stylesheet" href="../public/css/chat.css">
  </head>
  <body class="gradient-custom">
    <!-- Start your project here-->
    <section>
      <div class="container py-5">
    
        <div class="row">
    
          <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">
    
            <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>
    
            <div class="card mask-custom">
              <div class="card-body">
    
                <ul class="list-unstyled mb-0" style="overflow-y: scroll; height: 70vh;">
                  <!-- 숫자대신 체크박스 -->
                  <!-- <span class="text-white float-end"><i class="fas fa-check" aria-hidden="true"></i></span> -->
                  <!-- 시작 -->
                  <% for(var i =0; i<chat.length; i++) { %>
                  <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                    <a href="/chatting/<%= chat[i]._id %>" class="d-flex justify-content-between link-light">
                      <div class="d-flex flex-row">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                        <div class="pt-1">
                          <p class="small text-white" style="display: none;"><%= chat[i].member[1] %></p>
                          <p class="fw-bold mb-0 nickname"><%= chat[i].title %></p>
                        </div>
                      </div>
                      <div class="pt-1">
                        <p class="small text-white mb-1">Just now</p>
                        <span class="badge bg-danger float-end">1</span>
                      </div>
                    </a>
                  </li>
                  <% } %>
                  <!-- 끝 -->
                </ul>
    
              </div>
            </div>
    
          </div>
    
          <div class="col-md-6 col-lg-7 col-xl-7">
            <ul class="list-unstyled text-white" style="overflow-y: scroll; height: 60vh;" id="messageList">
              <!-- 시작 -->
              <% if(message !=null) { %>
                <% for(var i=0; i<message.length; i++) { %>
                  <% if(JSON.stringify(message[i].userId)==JSON.stringify(user)) { %>
                    <li class="d-flex justify-content-start mb-4">
                      <img src="../public/image/손석구.jpeg" alt="avatar"
                        class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                      <div class="card mask-custom w-100">
                        <div class="card-header d-flex justify-content-between p-3"
                          style="border-bottom: 1px solid rgba(255,255,255,.3);">
                          <p class="fw-bold mb-0">윤주한</p>
                          <p class="text-light small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                        </div>
                        <div class="card-body">
                          <p class="mb-0">
                            <%= message[i].message %>
                          </p>
                        </div>
                      </div>
                    </li>
            
            
            
                  <%} else if(JSON.stringify(message[i].userId) !=JSON.stringify(user)) { %>
                    <li class="d-flex justify-content-between mb-4">
                      <div class="card mask-custom w-100">
                        <div class="card-header d-flex justify-content-between p-3"
                          style="border-bottom: 1px solid rgba(255,255,255,.3);">
                          <p class="fw-bold mb-0">Lara Croft</p>
                          <p class="text-light small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                        </div>
                        <div class="card-body">
                          <p class="mb-0" style="min-width: 50%; width: auto;">
                            <%= message[i].message %>
                          </p>
                        </div>
                      </div>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </li>
                  <% } %>
                <% } %>
              <% } %>
            <!-- 끝 -->
            </ul>

            <form action="/sendMessage" method="POST">
              <div class="form-outline form-white mb-3">
                <textarea class="form-control" id="textAreaExample3" rows="4" name="message"></textarea>
                <label class="form-label" for="textAreaExample3">Message</label>
              </div>
              <button type="submit" class="btn btn-light btn-lg btn-rounded float-end">Send</button>
            </form>
          </div>

        </div>
    
      </div>
    </section>
    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="../public/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
      //메세지 스크롤을 맨아래로 위치시키게 함
      var messageList = document.getElementById('messageList');
      messageList.scrollTop = messageList.scrollHeight;
    </script>
  </body>
</html>
